<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Classroom Management App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav th:fragment="navigation">
    <a href="/student">List of All Students</a> |
    <a href="/student/add">Add Student</a> |
    <a href="/student/remove">Remove Student</a> |
    <a href="/classroom">Classrooms</a> |
    <a href="/classroom/add">Add Classroom</a>
</nav>
</body>
</html>